@charset "UTF-8";
@keyframes gridAnim {
  0% {
    width: 600px;
    grid-template-columns: repeat(1, minmax(600px, auto));
  }
  100% {
    width: calc(95vw - 20px);
    grid-template-columns: repeat(1, minmax(200px, auto));
  }
}
@media screen and (width > 950px) {
  body .profile[animation="1"] {
    animation: gridAnim 2s 1 forwards;
    grid-template-rows: 1fr minmax(500px, calc(100vmin - 20px - 1px));
    min-width: 235px;
  }
  body .profile[animation="1"] .card {
    animation: openPhoto 2s 1 forwards;
  }
  body .profile[animation="1"] .card .photo {
    overflow: auto hidden;
  }
  body .profile[animation="1"] .card .photo #photo-0 {
    display: none;
  }
  @keyframes openPhoto {
    100% {
      aspect-ratio: 2/1;
    }
  }
  body .profile[animation="1"] .familiars .people-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}
@media screen and (width > 950px) and (width < 950px) {
  body .profile[animation="1"] .familiars .people-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
}
@media screen and (width > 950px) {
  body .profile[animation="1"] .familiars .people-grid .people-item img {
    width: 200px;
  }
}
@media screen and (width > 950px) and (width < 950px) {
  body .profile[animation="1"] .familiars .people-grid .people-item img {
    width: 100px;
  }
}

body {
  display: grid;
  justify-content: center;
  align-content: space-between;
  margin: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px - 20px);
  background: #f8f0f7;
  font-family: "Roboto Slab", serif;
}
body .entry-exit {
  display: grid;
  grid-gap: 5px;
}
body .entry-exit .nickname {
  height: 32px;
  width: 280px;
}
body .entry-exit button.exit {
  background-color: #4860d9;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: color 2s;
  color: white;
}
body .entry-exit button.exit:hover {
  border-color: #27dae4;
  color: #27dae4;
}
body::-webkit-scrollbar {
  width: 15px;
  background: #121a43;
}
body::-webkit-scrollbar-track {
  border: 2px solid #eac8f3;
  box-shadow: inset 0 0 2px 2px rgba(44, 173, 238, 0.5);
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1986db, rgba(180, 30, 218, 0.7490196078));
  border-radius: 15px;
}
body .profile {
  display: grid;
  grid-template-rows: calc(100vmin - 20px - 1px);
  grid-template-columns: max-content 1fr;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 7px black;
  width: calc(95vw - 20px);
  height: calc(100% - 10px);
  min-width: 170px;
  background: linear-gradient(178deg, #f1e6f1 0% 50%, #b2c0d7);
}
@media screen and (width < 950px) {
  body .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 93vmin 620px;
  }
}
body .profile .card {
  display: grid;
  margin: 10px;
  max-height: calc(100% - 20px);
  position: relative;
  align-self: center;
  aspect-ratio: 1;
}
@media screen and (width < 950px) {
  body .profile .card {
    width: calc(100% - 20px);
  }
}
body .profile .card .fullname {
  background: linear-gradient(90deg, #1986db, rgba(180, 30, 218, 0.7490196078));
  box-shadow: 3px 3px 7px #4ae6e2;
  border: 1px solid black;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  padding: 10px;
  width: max-content;
  font-size: 3vmin;
  text-align: center;
  left: 5px;
  top: -25px;
}
body .profile .card .fullname a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
body .profile .card .fullname a:hover {
  color: #27dae4;
  text-shadow: 3px 3px 7px violet;
}
body .profile .card .fullname a:active {
  text-shadow: 3px 3px 7px #27dae4;
}
body .profile .card .fullname a:focus {
  outline: none;
  color: #27dae4;
  text-shadow: 3px 3px 7px violet;
}
body .profile .card .city {
  background: linear-gradient(90deg, #1986db, rgba(180, 30, 218, 0.7490196078));
  box-shadow: 3px 3px 7px #4ae6e2;
  border: 1px solid black;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  padding: 10px;
  width: max-content;
  font-size: 3vmin;
  text-align: center;
  right: 5px;
  top: -25px;
}
body .profile .card .status {
  background: linear-gradient(90deg, #1986db, rgba(180, 30, 218, 0.7490196078));
  box-shadow: 3px 3px 7px #4ae6e2;
  border: 1px solid black;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  padding: 10px;
  width: max-content;
  font-size: 2.6vmin;
  text-align: center;
  bottom: -25px;
  left: 0;
  right: 0;
  margin-inline: auto;
}
body .profile .card .photo {
  display: flex;
  gap: 10px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
@media screen and (width < 950px) {
  body .profile .card .photo {
    overflow: auto hidden;
  }
}
@media screen and (width < 950px) and (orientation: landscape) {
  body .profile .card .photo #photo-0 {
    display: none;
  }
}
body .profile .card .photo .photo-item {
  height: calc(100% - 4px);
}
body .profile .card .photo .photo-item img {
  height: 100%;
  flex: 1 0 100%;
  border: 1px solid black;
  border-radius: 10px;
  scroll-snap-align: center;
}
body .profile .familiars {
  margin: 10px;
  display: grid;
  color: black;
  overflow: hidden;
  grid-template-rows: max-content 1fr;
  grid-gap: 15px;
}
body .profile .familiars .filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  border-left: 1px solid black;
  border-top: 1px solid black;
  background: linear-gradient(330deg, #f1e6f1 0% 50%, rgba(96, 251, 255, 0.6));
  border-radius: 10px;
  width: calc(100% - 4px);
  box-shadow: 2px 2px 5px #000000;
}
body .profile .familiars .filters input {
  height: 32px;
}
body .profile .familiars .filters input, body .profile .familiars .filters label, body .profile .familiars .filters select {
  margin: 5px;
}
body .profile .familiars .filters input:focus, body .profile .familiars .filters label:focus, body .profile .familiars .filters select:focus {
  outline: 2px solid rgba(180, 30, 218, 0.7490196078);
}
body .profile .familiars .filters input, body .profile .familiars .filters select {
  border: 1px solid black;
}
body .profile .familiars .people-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(135px, auto));
  width: 100%;
}
body .profile .familiars .people-grid .people-item {
  text-align: center;
  position: relative;
  padding-top: 4px;
}
body .profile .familiars .people-grid .people-item a img {
  border: 1px solid black;
  border-radius: 25px;
  width: 135px;
}
body .profile .familiars .people-grid .people-item a img:hover {
  outline: 3px solid #47dfee;
  animation: hoverPerson 1s 1 forwards;
}
@keyframes hoverPerson {
  100% {
    border-radius: 80px;
  }
}
body .profile .familiars .people-grid .people-item a:focus {
  outline: 3px solid #47dfee;
  border-radius: 15px;
}
body .profile .familiars .people-grid .people-item:hover::after {
  content: attr(peoplename);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(90deg, #1986db, rgba(180, 30, 218, 0.7490196078));
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  border: 1px solid #e2660d;
  border-radius: 15px;
  box-shadow: 3px 3px 3px rgba(219, 43, 81, 0.6039215686);
}
body .profile .familiars .people-grid .Знакомые:hover::after {
  background: linear-gradient(90deg, #18d955, rgba(197, 17, 74, 0.749));
}

/*# sourceMappingURL=style.css.map */
